.dropzone {
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    height: 150px;
    width: 60%;
    border: 2px dashed cyan;
    outline: none;
}

.dropzoneReject {
    border: 2px dashed red;
}

.dropzoneAccept {
    border: 2px dashed green;
}

.dropDownButton {
    border-top: 0em;
    border: 2px dashed green;
    margin-left: 40%;
    margin-right: 40%;
}

.textCustom{
    color:red;
    text-decoration: none;
    
}

.dropdown-menu-search{

    height: 50vh;
    overflow-y: scroll;

}


